/** GLOBAL STYLES / IMPORTANT NFORMATION **/
:root{
	--primarytext-color: beige;
	--bodytext-color: #ebe9e1;
	--background-color: #719998;
	--response-color: #112D23;
}

body{
	color: var(--bodytext-color);
	background-color: var(--background-color);
	padding: 2rem;
	margin: 2rem;
}

p{
	font-family: "bebas-neue-pro";
	font-weight: 300;
	padding-block: 2rem;
	font-size: 2rem;
	line-height: 2.6rem;  
}

em{
	font-weight: 600;
	color: var(--primarytext-color);
}




/**  HEADER  **/
header{
	color: beige;
	text-align: center;

	.author, .date, .source{
		display: inline-block;
		margin-inline: 6.5rem;
	}
	h1{
		font-size: 15.8rem;
		font-family: "bebas-neue-pro";
		font-weight: 900;
		line-height: 15rem;
	}
	.author{
		font-weight: 800;
		&:hover{
			text-decoration: underline;
		}
	}
	.date, .source{
		inline-size: 12rem;
		font-weight: 500;
	}
}


/**  READING  **/
.reading{
	.pilot{
		padding-inline-end: 47rem;
		padding-block-start: 9rem;
		font-weight: 300;
		font-style: normal;
	} 
	.right{
		padding-inline-start: 31rem;
	}
	.left{
		padding-inline-end: 45%;
		font-weight: 300;
		font-style: normal;
		padding-block-end: 3rem;
		padding-block-start: 5rem;
	}
	.response{
		p:not(.my-name):not(.my-date){
			font-family: "Kode Mono", monospace;
			font-optical-sizing: auto;
			font-weight: 500;
			font-style: normal;
			color: #112D23;
			font-size: 2rem;
			padding-inline-start: 32%;
			line-height: 3rem;
		}
		.my-stuff{
			padding-inline-start: 32%;
		}
	}
	.pullquote{
		/* THIS IS MY RESPONSE'S PULL QUOTE */
		font-family: "Kode Mono", monospace;
		font-optical-sizing: auto;
		font-weight: 500;
		font-style: normal;
		color: #112D23;
		font-size: 7rem;
		padding-block-start: 6rem;
		text-indent: -0.6em;
		padding-inline-start: 1%;
	}

	.my-name, .my-date{
		display: inline-block;
		font-family: "Kode Mono", monospace;
		/* font-optical-sizing: auto; */
		font-weight: 500;
		color: var(--response-color);
		font-size: 1.5rem;
	}
	.my-name{
		/* margin-inline-end: 55%; */
		margin-inline-end: 5%;
	}
	.my-date{
		inline-size: 15rem;
	}
}




/**  FOOTER  **/
small{
	font-family: "Kode Mono";
	word-spacing: 0.3rem;
	color: bisque;
	padding-inline-end: 27%;
	font-size: 1.3rem;
}

button{
	display: inline-block;
	color: #112D23;
	font-family: "Kode Mono";
	font-weight: 800;
}
