/** GLOBAL STYLES / IMPORTANT NFORMATION **/
body{
  color: #F3FCEA;
  padding: 2rem;
  background-color: #719998;
  margin: 2rem;
}

p{
  font-family: "bebas-neue-pro";
  font-weight: 300;
  padding-block: 2rem;
  font-size: 2rem;
  line-height: 2.6rem;  
}

h1{
  color: #F3FCEA;
  font-size: 8.8rem;
  font-family: "bebas-neue-pro";
  font-weight: 900;
}

em{
  /* I DIDN"T KNOW I COULD HAVE <em> AS ITS OWN SECTION IN CSS, I WAS JUST PLAYING AROUND AND IT DID WHAT I NEEDED IT TO!!!!!!! */
  font-weight: 600;}







/**  HEADER  **/
header{
  .author{
  font-weight: 800;
  display: inline-block;
  margin-inline-end: 55rem;
  }

  .date, .source{
    display: inline-block;
    inline-size: 15rem;
    font-weight: 500;
  }
}








/**  LINES  **/
.line{
  /* THIS IS THE SHORTER LINE */
  font-weight: bolder;
  color: #112D23;
  padding-inline-start: 31rem;
}

.line2{
  /* THIS IS THE LONGER LINE */
  font-weight: bolder;
  color: #112D23;
  padding-block-end: 10rem;
}

.line3{
  /* THIS IS THE LAST LINE LINE */
  font-weight: bolder;
  color: #F3FCEA;
  padding-block-end: 5rem;
}








/**  THIS IS ALL MY RESPONSE CSS  **/


.quote{
  .pullquote{
    /* THIS IS MY RESPONSE'S PULL QUOTE */
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #112D23;
    font-size: 7rem;
    padding-block-start: 10rem;
    text-indent: -0.6em;
    padding-inline-start: 1rem;
  }

  .my-name{
    display: inline-block;
    margin-inline-end: 55rem;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    color: #112D23;
    font-size: 1.5rem;
  }

  .my-date, .my-year{
    display: inline-block;
    inline-size: 15rem;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    color: #112D23;
    font-size: 1.5rem;
  }
}



.kode-mono{
  /* THIS IS MY RESPONSE REGULARLY */
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #112D23;
  font-size: 2.4rem;
  padding-inline-start: 31rem;
  line-height: 3.2rem;
}


.kode-mono2{
  /* THIS IS MY RESPONSE REGULARLY */
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #112D23;
  font-size: 2.4rem;
  /* padding-inline-end: 35rem; */
  line-height: 3.2rem;

  /* :not(:first-child){padding-block-end: 100rem;} */
}


.myname-solo{
  /* THIS IS MY NAME AND DATE I WROTE MY RESPONSE */
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #112D23;
  font-size: 1.5rem;
  padding-inline-start: 31rem;
}











/**  THIS IS ALL THE READING'S CSS  **/


.reading{
  p:first-child{
    padding-inline-end: 47rem;
    padding-block-start: 19rem;
    font-weight: 300;
    font-style: normal;
  } 

  .other-paragraphs{
    /* THIS IS THE REST OF THE PARAGRAPHS, ALIGNED TO THE RIGHT */
    padding-inline-start: 31rem;
  }
}


.reading-wide-right{
  p{
    padding-inline-start: 31rem;
    }
}


.reading-wide-left{
  padding-inline-end: 40rem;
  font-weight: 300;
  font-style: normal;
}














/*************** FOOTER ***************/
small{
  font-family: "Kode Mono";
  word-spacing: 0.3rem;
  color: bisque;
}






/* *:not(:first-child) { margin-block-start: 1em; } */