body {
    font-family: National Park;

    color: orange;
    padding: 3rem;
}

h1{
    color: gray;
    font-size: 4rem;
}

.big-orange {
    color: gray;
    font-size: 2rem;

}

*:not(:first-child) { margin-block-start: 1em; }

